@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  overflow-x: hidden;

}

body{
  /* overflow-x: hidden; */
  /* padding-top: 74px; */

}


.swiper-slide:last-child {
  margin-right: 2.5rem !important; /* 10 in Tailwind scale */
}

.scrollbar-hidden {
  overflow-y: auto;          /* enable vertical scrolling */
  scrollbar-width: none;     /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

/* For Webkit browsers (Chrome, Safari, Edge) */
.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}