@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  overflow-x: hidden;

}

body{
  overflow-x: hidden;
  padding-top: 74px;

}