@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  overflow-x: hidden;

}

body{
  /* overflow-x: hidden; */
  /* padding-top: 74px; */
  scroll-behavior: smooth;
  padding-top: 62.6px;
}


.swiper-slide:last-child {
  margin-right: 2.5rem !important; /* 10 in Tailwind scale */
}

.scrollbar-hidden {
  overflow-y: auto;          /* enable vertical scrolling */
  scrollbar-width: none;     /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

/* For Webkit browsers (Chrome, Safari, Edge) */
.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

.swiper-pagination {
  gap: 5px !important;   
}

/* make bullets bigger */
.swiper-pagination-bullet {
  width: 14px;
  height: 14px;
  background: #ffffff !important; /* gray-300 */
  opacity: 1 !important; /* remove default transparency */
}

/* active bullet */
.swiper-pagination-bullet-active {
  background: #eab831 !important; /* red-500 */
  transform: scale(1.2);
}

.register-basketball-pattern {
  background-color: #fbfbfb;
  background-image: url("data:image/svg+xml,%0A%3Csvg%20xmlns%3D%27http%3A//www.w3.org/2000/svg%27%20width%3D%27220%27%20height%3D%27220%27%20viewBox%3D%270%200%20220%20220%27%3E%0A%20%20%3Crect%20width%3D%27220%27%20height%3D%27220%27%20fill%3D%27white%27/%3E%0A%20%20%3Cg%20fill%3D%27none%27%20stroke%3D%27%23c5c5c5%27%20stroke-width%3D%274.5%27%20stroke-linecap%3D%27round%27%3E%0A%20%20%20%20%3Ccircle%20cx%3D%2770%27%20cy%3D%2770%27%20r%3D%2760%27/%3E%0A%20%20%20%20%3Ccircle%20cx%3D%27160%27%20cy%3D%27110%27%20r%3D%2760%27/%3E%0A%20%20%20%20%3Ccircle%20cx%3D%27110%27%20cy%3D%27190%27%20r%3D%2760%27/%3E%0A%20%20%20%20%3Ccircle%20cx%3D%2710%27%20cy%3D%27160%27%20r%3D%2760%27/%3E%0A%20%20%20%20%3Cpath%20d%3D%27M10%2070%20C40%2050%2040%2090%2070%2070%20C100%2050%20100%2090%20130%2070%27/%3E%0A%20%20%20%20%3Cpath%20d%3D%27M110%20120%20C140%20100%20140%20140%20170%20120%20C200%20100%20200%20140%20230%20120%27/%3E%0A%20%20%20%20%3Cpath%20d%3D%27M-10%20150%20C30%20120%20110%20120%20150%20150%20C190%20180%20260%20180%20300%20150%27/%3E%0A%20%20%20%20%3Cpath%20d%3D%27M70%205%20C70%2060%2070%20120%2070%20175%27/%3E%0A%20%20%20%20%3Cpath%20d%3D%27M160%2020%20C160%2070%20160%20120%20160%20170%27/%3E%0A%20%20%3C/g%3E%0A%3C/svg%3E%0A");
  background-size: 220px 220px;
}
